* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

h1, h2 {
  margin: 0 10px;
  color: #134;
}

textarea {
  margin: 10px 10px;
  padding: 5px 10px;
  color: #134;
  border: 1px solid #efefef;
  background: rgb(250, 250, 250);
}

textarea:focus {
  outline: none;
  border: 1px solid #888;
  border-radius: 4px;
}

textarea:hover {
  background: rgb(248, 248, 248);
  border-radius: 4px;
}

button {
  cursor: pointer;
  margin: 10px 10px;
  padding: 6px 8px;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

main {
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 90px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -35px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  textarea {width: 95%; min-width: 310px;}
}
