 :root {
  --light: #d8dbe0;
  --dark: #28292c;
  --body-bg: rgb(22, 27, 34);
  --container-bg: rgb(1, 4, 10);
  --title: #ddd;
  --decl: #ff7b72;
  --property: #79c0ff;
  --method: #d2a8ff;
  --value: #a5d6ff;
  --code: #c9d1d9;
  --scrollbar-thumb: #345;
  --container-header: #0099EE;
  --js: #d7ba7d;
}

[light] {
  --body-bg: rgb(255, 255, 255);
  --container-bg: rgb(244, 245, 247);
  --title: #444;
  --decl: #cf222e;
  --property: #0550ae;
  --method: #8250df;
  --value: #0a3069;
  --code: #24292f;
  --scrollbar-thumb: #66ace6;
  --container-header: #0089DE;
  --js: #b79a5d;
}
 
::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  width: 4px;
  height: 4px;
  background: var(--container-bg);
  -webkit-border-radius: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 2px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #002E3B;
}

.decl {
  color: var(--decl);
}

.equal,
.property {
  color: var(--property);
}

.method {
  color: var(--method);
}

.tagname,
.value {
  color: var(--value)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  background-color: var(--body-bg)
}

h1 {
  font-size: 28px;
  color: var(--title);
  font-weight: normal;
}

pre {
  height: 100%;
  display: flex;
}

code {
  outline: none;
  height: 100%;
  width: 100%;
  padding: 5px 10px;
  color: var(--code);
  font-size: 12px;
  line-height: 16px;
  word-wrap: normal;
  white-space: pre;
}

code * {
  background-color: transparent !important;
}

div[role=textarea] {
  width: 100%;
  height: 100%;
  color: #eee;
  transition: 0.1s background-color ease-in-out;
  overflow: scroll;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--container-header);
  background-color: transparent;
  display: inline-flex;
  align-self: center;
  transition: 0.1s;
}

button:hover {
  opacity: 0.8;
}

svg:hover {
  fill: var(--container-header);
  cursor: pointer;
}

.asign {
  margin: 0 auto;
  color: #999;
  font-size: 12px;
}

.github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header,
.main,
.footer {
  min-height: 50px;
  margin: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  padding: 8px;
  border-radius: 6px 6px 0 0;
}

.header,
.footer {
  height: 7.5vh;
  background-color: var(--container-bg);
  padding: 8px 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
  padding: 4px;
  align-items: center;
  border-radius: 0 0 6px 6px;
}

.main {
  height: 77vh;
  display: flex;
  column-gap: 3px;
}

.container {
  width: 50%;
  height: 100%;
  background-color: var(--container-bg);
  padding: 8px 16px 24px;
}

.container header {
  display: flex;
  color: var(--container-header) !important;
  justify-content: space-between;
}

.container button {
  display: inline-flex;
  align-items: center;
  column-gap: 3px;
}

@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    height: 50%
  }

  .main {
    flex-wrap: wrap;
    row-gap: 3px;
  }
}

.toggle-switch {
  position: relative;
  width: 42px;
  height: 21px;
}

label {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  transition: 0.3s;
  box-shadow: 0 0 1px 0.2px var(--container-bg);
}

input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: inset 2px -1px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(19px);
  background-color: var(--dark);
  box-shadow: none;
}
